/* .contact-container {
h1 {
	text-align: center;
}

form {
	max-width: 600px;
	text-align: center;
	margin: 0 auto;
}
input,
textarea {
	border: 0;
	outline: 0;
	padding: 1em;
	border-radius: 8px;
	display: block;
	width: 100%;
	margin-top: 1em;
	resize: none;
}

#input-submit {
	cursor: pointer;
  
}
#input-submit:hover {
	box-shadow:  1px 1px 1px rgba(0, 0, 0, 0.2);
}

textarea {
	height: 126px;
}

.half {
	float: left;
	width: 48%;
	margin-bottom: 1em;
}

.right {
	width: 50%;
}

.left {
	margin-right: 2%;
}
}

@media (max-width: 480px) {
  .contact-container{
	.half {
		width: 100%;
		float: none;
		margin-bottom: 0;
	}
}
.contact-form:before,
.contact-form:after {
	content: " ";
	display: table;
}

.contact-form:after {
	clear: both;
}
} */

.contact-container {
  text-align: center;
 }

 .contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  align-items: center;
  
  
 }