.contact-container {
	text-align: center;
	padding-top: 48px;

	[popover] {
		margin: auto;
		width: 280px;
		padding: 8px;
		border-radius: 8px;
		border: 2px solid var(--light-border-bloc-color);
	}

	::backdrop {
		backdrop-filter: blur(3px);
	}
}

.contact-form {
	font-family: var(--font-family-body);
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
	padding: 32px 0;
	width: 250px;
	margin: auto;

	label {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
	}

	input {
		border: none;
		font-family: var(--font-family-body);
		background-color: var(--bg-color-button-and-header);
		border-radius: 16px;
		padding: 8px;
		width: 250px;
	}

	textarea {
		border: none;
		border-radius: 16px;
		padding: 8px;
		background-color: var(--bg-color-button-and-header);
		width: 250px;
		height: 220px;
	}

	.button-submit {
		width: 100px;
		border: none;
		border-radius: 16px;
		padding: 8px;
		align-self: end;
		cursor: pointer;
		background-color: var(--bg-color-button-and-header);
		font-family: var(--font-family-body);
	}

	.rgpd-button {
		cursor: pointer;
		border: none;
		border-radius: 16px;
		background-color: var(--light-border-bloc-color);
	}
	.rgpd-button:hover {
		text-decoration: underline;
	}
}

@media screen and (min-width: 769px) and (max-width: 992px) {
	.contact-form {
		width: 400px;

		input {
			width: 400px;
		}

		textarea {
			width: 400px;
		}
	}
}

@media screen and (min-width: 992px) {
	.contact-form {
		width: 600px;

		input {
			width: 600px;
		}

		textarea {
			width: 600px;
		}
	}
}
