.footer-container {
	background-color: var(--bg-color-footer);
	text-align: center;
	padding: 8px;

	img {
		width: 60px;
	}

	p {
		color: rgb(242, 242, 242);
		margin-bottom: 8px;
		margin-top: 0;
	}
}

@media screen and (min-width: 768px) {
	.footer-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
