* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4 {
	font-family: var(--font-family-title);
	color: var(--color-title);
	margin: 0;
}

h1 {
	font-size: 48px;
}

main {
	background-color: var(--bg-color-main);
}

@font-face {
	font-family: "source-sans-pro";
	src: url(/public/assets/fonts/SourceSansPro-SemiBold.ttf);
}

@font-face {
	font-family: "farro";
	src: url(/public/assets/fonts/Farro-Regular.ttf);
}

:root {
	--bg-color-button-and-header: rgb(217, 217, 217);
	--bg-color-main: rgb(231, 231, 231);
	--color-font: rgb(51, 51, 51);
	--bg-color-footer: rgb(0, 0, 0);
	--color-title: rgb(0, 0, 0);
	--font-family-body: "farro";
	--font-family-title: "source-sans-pro";
}

main {
	@media screen and (min-width: 768px) {
		min-height: calc(100vh - 200px);
	}
}
